@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('fonts/Amsterdam\ Four_ttf\ 400.ttf');

:root {
    --btn-padding: 0.75rem;
    --sm-padding: 1rem;
    --md-padding: 2rem;
    --lg-padding: 3rem;
    --main-font: "Inter", sans-serif;
    --sm-text: 12px;
    --md-text: 14px;
    --lg-text: 18px;
    --xlg-text: 22px;
    --border-radius: 1.5rem;
    --transition-all: all 0.25 ease-in-out;
}

* { box-sizing: border-box !important; }

html {
    overflow: hidden !important;
    padding: 0;
    font-family: var(--main-font);
    height: 100%;
}

body {
    background-color: var(--first-color);
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--md-padding);
}   

.main__wrapper-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main__wrapper-nav__link {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    font-size: var(--md-text);
}

.amsterdam {
    font-family: 'Amsterdam';
}

#themeToggle {
    display: none;
}

#themeLabel {
    margin-right: 6px;
    font-size: var(--md-text);
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
}

.main__wrapper__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main__wrapper__container__title {
    font-size: var(--xlg-text);
    color: var(--white-color);
}

#userChoices {
    max-width: 630px;
    width: 100%;
    border-radius: var(--border-radius);
    padding: var(--md-padding);
    background-color: var(--second-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userChoices__title {
    font-size: var(--lg-text);
    color: var(--white-color);
    text-align: center;
}


.tab {
    display: none;
  }

.capacity_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.capacity_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.capacity_container input[type="radio"] {
    display: none;
}

.capacity_container label {
    padding: var(--sm-padding);
    background-color: var(--white-color);
    color: var(--first-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--white-color);
    margin: 1rem 0.5rem 1rem 0.5rem;
    flex: 1;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-weight: 600;
    position: relative;
    transition: all 0.25s ease-in-out;
}

.capacity_container label:hover {
    transform: translateY(-3px);
}

.capacity_container input[type="radio"]:checked + label{
    background-color: var(--second-color);
    color: var(--white-color);
}

.capacity_container label span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: var(--sm-text);
    font-weight: 500;
    color: rgb(11, 192, 11);
    opacity: 0.7;
}

.tab input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: var(--border-radius);
    font-weight: 600;
    outline: none;
    border: 0;
    padding: 8px 12px 8px 12px;
    margin: 1rem 0 1rem 0;
}

.input_perfume_name {
    
    color: #484848;
    position: relative;
}

.input_perfume_name span {
    float: right;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 15px;
    font-size: var(--sm-text);
    font-weight: 600;
    color: #484848;
} 


.steps {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step {
    height: 5px;
    width: 24px;
    margin: 0 2px;
    background-color: #484848;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: all 0.25s ease-in-out;
  }
  
  .step.active {
    opacity: 1;
    background-color: var(--white-color);
  }

  .step.finish {
    opacity: 1;
    background-color: rgb(11, 192, 11);
    height: 24px;
    border-radius: 50%;
  }

  .invalid {
    border: 3px solid #ff0000b4 !important;
    animation: 0.3s ease-in-out invalid;
  }

  .invalid_max_letters {
    color: #ff0000 !important;
    animation: 0.3 ease-in-out invalid !important;
  }

  @keyframes invalid {
    0% {
        transform: translateY(-2px);
    }
    33% {
        transform: translateY(0px);
    }
    66% {
        transform: translateY(-1.5px);
    }
    100% {
        transform: translateY(0);
    }
  }

  #nextBtn {
    background-color: var(--white-color);
    color: var(--second-color);
    outline: none;
    border: 0;
    border-radius: var(--border-radius);
    padding: var(--btn-padding);
    font-weight: 600;
    border: 1px solid var(--white-color);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
  }

  #nextBtn i{
    margin-left: 8px;
  }

  #nextBtn:hover {
    transform: translateY(-3px);
  }

  #prevBtn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #484848;
    cursor: pointer;
    margin-right: 15px;
  }

.steps_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__wrapper__language {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.languageStyle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.languageStyle select {
    cursor: pointer;
    margin-right: 6px;
    background-color: transparent;
    border: 0;
    outline: none;
    font-weight: 600;
    font-size: var(--sm-text);
    color: var(--white-color);
}

.countrySelected {
    width: 16px;
    height: 16px;
    border-radius: 0px;
}

.countrySelected img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}