html, body {
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
      height: fit-content;
      scroll-behavior: smooth;
      overflow-x: hidden !important;
}


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
      font-family: "Poppins",sans-serif;
      font-weight: 400;
}

header {
      width: 100%;
      height: 100vh;

}

#myVideo {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: auto;
}

.myImage {
      background-image: url('../content/portrait-gros-plan-fille-brune-surprise-excitee-qui-air-etonnee-reagir-impressionnee-excitee.jpg');
      background-size: cover;
      z-index: -2;
      max-width: 100%;
      height: 100vh;
}

@media screen AND (max-width: 830px) {
      #myVideo {
            display: none;
      }
      #myImage {
            display: block;
      }
}

.logo-header {
      width: 50px;
      height: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

::-webkit-scrollbar-track
{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #FFF;
}
::-webkit-scrollbar
{
      width: 6px;
      background-color: #FFF;
}
::-webkit-scrollbar-thumb
{
      background-color: #94c120;
}



.home-hr {
      width: 20%;
      height: 0.3px !important;
      align-content: center;
      text-align: center;
      justify-content: center;
      margin-top: 35px;
      margin-bottom: 35px;
}

.footer {
      display: block;
      margin: auto;
      width: 100%;
      background-color: black;
}

.useful-links {
      width: 100%;
      margin: auto;
      text-align: center;
      padding-left:20px;
}

.useful-links li {
      display: inline-block;
      padding-right: 20px;
      margin: auto;
      margin-top: 20px;
      text-align: center;
}

.useful-links li a {
      text-decoration: none;
      color: white;
      transition: .3s;
}

.useful-links li a:hover {
      color: #94c120;
}

.colonne-footer {
      width: 90%;
}

.colonne-mentions {
      float: left;
      margin-left: 30px;
      margin-top: 30px;
      list-style-type: none;
}

.colonne-logo {
      float: right;
      margin-right: 30px;
}

.colonne-logo img {
      width: 140px;
      height: 140px;
}

@media(max-width: 767px) {
      .colonne-logo img{
            margin-top: 55px;
            width: 40px;
            height: 40px;
      }
}

.colonne-mentions ul li {
      list-style-type: none;
}

.colonne-mentions ul li a {
      color: #94c120;
      text-decoration: none;
      transition: .3s;
}

.colonne-mentions ul li a:hover {
      color: white;
}

/*.line-social {
      position: relative;
}

.social-link {
      position: absolute;
}

.social-link li {
      list-style-type: none;
      position: inline-block;
}*/

.line-social {
      display: flex;
      width: 100%;
      margin: auto;
      text-align: center;
      padding-left:20px;
}

.line-social li {
      display: inline-flex;
      padding-right: 20px;
      margin: auto;
      margin-bottom: 20px;
      text-align: center;
}

.line-social li a {
      text-decoration: none;
      color: white;
      transition: .3s;
      margin-top: 50px;
      font-family: 'Montserrat';
}

.line-social li a:hover {
      color: #94c120;
}

.reservation-background {
      padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(148%2c 193%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c427.308C89.117%2c443.384%2c185.132%2c454.733%2c265.809%2c413.607C349.319%2c371.036%2c424.838%2c294.044%2c442.142%2c201.92C458.97%2c112.331%2c378.405%2c36.796%2c353.032%2c-50.758C332.208%2c-122.612%2c343.465%2c-200.581%2c306.627%2c-265.694C264.606%2c-339.969%2c214.474%2c-429.388%2c130.434%2c-444.217C45.612%2c-459.184%2c-18.127%2c-366.82%2c-99.033%2c-337.274C-172.678%2c-310.38%2c-266.985%2c-334.876%2c-321.984%2c-279.001C-377.232%2c-222.872%2c-369.9%2c-132.671%2c-377.58%2c-54.288C-384.932%2c20.75%2c-395.889%2c97.92%2c-365.685%2c167.003C-335.248%2c236.618%2c-272.478%2c283.608%2c-210.58%2c327.669C-146.009%2c373.633%2c-78.001%2c413.237%2c0%2c427.308' fill='%23769a1a'%3e%3c/path%3e%3cpath d='M1440 1040.343C1553.53 1034.366 1662.777 1107.845 1772.155 1076.8429999999998 1898.503 1041.031 2041.626 978.871 2089.004 856.39 2136.503 733.597 2044.9279999999999 603.937 2003.4160000000002 478.993 1969.117 375.76 1931.316 277.671 1867.465 189.60000000000002 1798.476 94.44200000000001 1735.026-30.011999999999944 1619.339-50.77099999999996 1503.17-71.61599999999999 1415.427 57.511000000000024 1301.416 88.02699999999999 1183.077 119.702 1043.305 58.579999999999984 943.8050000000001 130.04399999999998 840.483 204.253 785.368 337.74 777.003 464.675 768.872 588.064 846.195 695.254 899.196 806.977 951.376 916.97 972.804 1064.804 1084.583 1113.039 1197.907 1161.94 1316.746 1046.8310000000001 1440 1040.343' fill='%23addd31'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    }

    table {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      border-radius: 25px;
      border: none;
      outline: none;
      border-style: hidden;
    }
    tr {
      padding: 15px !important;
      margin: 15px !important;
    }
    td {
      padding: 15px !important;
      margin: 15px !important;
    }

    .titre-date {
      margin-top: 30px;
      margin-bottom: 30px;
      color:white;
      font-size: 24px;
      text-align: center;
      font-family: 'Poppins';
      font-weight: 500;
    }

    .header {
      padding: 15px !important;
      background-color: black !important;
      color: white !important;
      text-transform: uppercase;
      text-align: center;
    }

    .header:first-child {
      border-radius: 25px 0px 0px 0px !important;
    }

    .header:last-child {
      border-radius: 0px 25px 0px 0px;
    }


    .header-tr {
      border-radius: 25px 25px 0px 0px !important;
    }

    .btn-reserver {
      margin: auto !important;
      display: block !important;
    }

    .btn-months {
      text-transform: uppercase;
      margin-right: 12px;
    }

    select {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .btn {
      transition: 0.25s ease-in-out;
    }

    .btn:hover {
      transition: 0.25s ease-in-out !important;
    }

    .gradient {
      color: #fff;
    background: linear-gradient(291deg, #ffffff, #f3d307);
    background-size: 400% 400%;
    padding: 3.4px;
    border-radius: 9px;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    .gradient2 {
      color: #fff;
    background: linear-gradient(291deg, #94c120, #212c05);
    background-size: 400% 400%;
    padding: 3.4px;
    border-radius: 9px;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

    @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }

  .sticky-class {
      position: sticky;
  }

  .nav-link {
      font-weight: bold !important;
      text-transform: uppercase;
      font-family: 'Poppins';
      margin-right: 15px;
      padding: 8px;
  }

  .nav-item {
    margin-top: 3px;
  }

  .dropdown-item {
      font-weight: bold !important;
      text-transform: uppercase;
      font-family: 'Poppins';
      width: unset !important;
  }

  .active {
      border-bottom: 2px solid #94c120;
  }

      .underline {
      display: inline-block;
      position: relative;
      color: #94c120;
    }

    .underline::after:last-child {
      background-color: #94c120 !important;
    }
    
    .underline:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -2px;
      left: 0;
      background-color: #94c120 !important;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .underline:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    nav {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .fa {
      margin-right: 6px;
    }

    .img-over-video {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .img-over-video img {
      width: 75%;
      margin:80px;
      
    }

    @import "https://unpkg.com/open-props";
    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

    
    .underline2 {
      display: inline-block;
      position: relative;
      color: #94c120;
    }
    
    .underline2:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: -2px;
      left: 0;
      background-color: #94c120;
      transform-origin: center center;
      transition: transform 0.25s ease-out;
    }
    
    .underline2:hover:after {
      transform: scaleX(1);
      transform-origin: center center;
    }
    .about-btn {
      background-color: white;
      padding: 10px;
      text-decoration: none;
      font-family: 'Poppins';
      font-weight: 600;
      margin-bottom: 100px;
      transition: 0.25s ease-in-out;
    }

    .about-btn:hover {
      
      transition: 0.25s ease-in-out;
    }

    #obsession-coiffure {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1920 1080' class='overflow-hidden rounded-md drop-shadow-lg transition duration-300' style='overflow: hidden%3B height: 85vh%3B'%3E%3Crect width='1920' height='1080' fill='%2394c120'%3E%3C/rect%3E%3Cg clip-path='url(%26quot%3B%23SvgjsClipPath2238%26quot%3B)'%3E%3Cg transform='matrix(0.9857423958074291 0.5922937861465623 -0.5922937861465623 0.9857423958074291 333.4289700984134 -556.8743861397625)'%3E%3Cpath d='M0 -1080C12.290145305493573 -994.512009848693 61.94354299236707 -751.9975971185556 73.74087183296143 -567.0720590921575C85.53820067355579 -382.1465210657593 76.92071578836277 -157.20884528617097 70.78397304356616 29.553228158388876C64.64723029876956 216.3153016029487 38.246748018720865 371.9478912009848 36.92041536418182 553.5003815752016C35.59408270964278 735.0528719494183 70.72896075019938 927.4201676892518 62.8259771163319 1118.8681704036892C54.92299348246443 1310.3161731181267 -0.026490252967690253 1528.666426262441 -10.497486439023007 1702.1883978618262C-20.968482625078323 1875.7103694612113 -1.749581073170501 2083.6980663103045 0 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2231%26quot%3B)'%3E%3C/path%3E%3Cpath d='M274.2857142857143 -1080C264.7184133854223 -972.817129933637 205.53566665367842 -665.2064847676509 216.88190888396244 -436.90277960182186C228.22815111424646 -208.5990744359929 338.0616984329092 82.32312139827116 342.36316766741845 289.82223099497367C346.6646369019277 497.3213405916762 258.41958572699076 594.7540116565515 242.69072429101783 808.0918779783931C226.9618628550449 1021.4297443002347 242.72416738579818 1344.5314085890889 247.98999905158092 1569.8494289260234C253.25583071736366 1795.167449262958 269.90309508002537 2061.6415714876707 274.2857142857143 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2232%26quot%3B)'%3E%3C/path%3E%3Cpath d='M548.5714285714286 -1080C541.016457030067 -934.6130250638859 502.4096379156422 -471.08440584611475 503.2415993232595 -207.67815038331503C504.0735607308768 55.72810507948469 559.0103013309899 253.47432395837427 553.5631970171326 500.43753277679843C548.1160927032752 747.4007415952226 471.3909348477328 997.5073579900297 470.5589734401155 1274.10110252723C469.7270120324982 1550.6948470644304 535.5693527162097 2012.3501837545384 548.5714285714286 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2233%26quot%3B)'%3E%3C/path%3E%3Cpath d='M822.8571428571428 -1080C821.6154750262118 -998.9487069320562 802.4909836487993 -757.1287596876913 815.4071358715568 -593.692241592337C828.3232880943142 -430.2557234969828 901.4510054809309 -249.57915379513727 900.3540561936875 -99.38089142787456C899.257106906444 50.817370939388155 828.5427806834242 159.69107341847013 808.8254401480962 307.49733261123924C789.1080996127681 455.30359180400836 786.9589924996673 629.3611779919232 782.0500129817193 787.4566637287402C777.1410334637714 945.5521494655571 768.6615770271958 1101.4344710882854 779.3715630404083 1256.0702470321407C790.0815490536208 1410.7060229759961 839.0623324248718 1564.616360563896 846.3099290609942 1715.2713193918726C853.5575256971167 1865.926278219849 826.7659405577847 2085.878553231979 822.8571428571428 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2234%26quot%3B)'%3E%3C/path%3E%3Cpath d='M1097.142857142857 -1080C1085.5950673914895 -971.1561029528124 1031.9532919232186 -629.6998678270492 1027.856118634652 -426.93661771687425C1023.7589453460853 -224.17336760669934 1073.1807606250072 -88.47137321101835 1072.5598174114575 136.57950066104945C1071.9388741979078 361.6303745331172 1006.6816064643956 706.367646041067 1024.1304593533537 923.3686255155326C1041.5793122423117 1140.3696049899982 1165.0842017802888 1232.4801484270984 1177.252934745206 1438.5853775078428C1189.421667710123 1644.6906065885873 1110.4945367432485 2039.7642295846404 1097.142857142857 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2235%26quot%3B)'%3E%3C/path%3E%3Cpath d='M1371.4285714285716 -1080C1378.2238740295077 -974.6000989310685 1412.6868148835363 -667.5434264064269 1412.2003870341882 -447.60059358641064C1411.7139591848402 -227.65776076639438 1378.2919332119645 20.513643807834228 1368.5100043324833 239.65699692009755C1358.728075453002 458.8003500323609 1357.511956852625 654.7597518994036 1353.5088137573002 867.2595250871693C1349.5056706619755 1079.759298274935 1341.5045194819893 1299.1988902278867 1344.4911457605344 1514.6556360466918C1347.4777720390796 1730.112381865497 1366.9390004838988 2052.442606007782 1371.4285714285716 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2236%26quot%3B)'%3E%3C/path%3E%3Cpath d='M1645.7142857142856 -1080C1646.8225243265883 -1009.5919207245369 1645.1552009749676 -803.8659786654497 1652.3637173881027 -657.5515243472214C1659.5722338012379 -511.2370700289931 1688.9934033465015 -365.7426846318779 1688.9653841930972 -202.11327409063023C1688.9373650396928 -38.483863549382534 1657.957086169159 169.9896577083232 1652.1956024676765 324.22493890026476C1646.434118766194 478.4602200922063 1661.1740087788125 576.6685180525709 1654.3964819842017 723.2984130610191C1647.618955189591 869.9283080694673 1620.673593899712 1052.8933610966842 1611.5304417000116 1204.0043089509538C1602.3872895003112 1355.1152568052235 1593.8402614502877 1470.6314850117963 1599.537568786 1629.9641001866373C1605.2348761217124 1789.2967153614784 1638.018166226238 2071.6606833644396 1645.7142857142856 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient2237%26quot%3B)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2231'%3E%3Cstop stop-color='%2394c120' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23afc120' offset='0'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2232'%3E%3Cstop stop-color='%23a6d824' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23c4d824' offset='0.14285714285714285'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2233'%3E%3Cstop stop-color='%23b0de38' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23ccde38' offset='0.2857142857142857'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2234'%3E%3Cstop stop-color='%23b9e24f' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23d1e24f' offset='0.42857142857142855'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2235'%3E%3Cstop stop-color='%23c2e666' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23d7e666' offset='0.5714285714285714'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2236'%3E%3Cstop stop-color='%23cbea7d' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23ddea7d' offset='0.7142857142857143'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient2237'%3E%3Cstop stop-color='%23d4ed94' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23e3ed94' offset='0.8571428571428571'%3E%3C/stop%3E%3C/linearGradient%3E%3CclipPath id='SvgjsClipPath2238'%3E%3Crect width='1920' height='1080'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            min-width: 100%;
            height: auto;
            padding: 70px;
            display: block;
    }

    .grid-accueil {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 30px;
    }

    .iframe {
      border-radius: 20px;
      width: 80%;
      margin: auto;
      height: 400px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .iframe iframe {
      width: 100%;
      border-radius: 20px;
      height: 100%;
    }

    .grid-card lottie-player {
      margin: auto;
    }

    .grid-card-variant {
      max-height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .grid-card {
      max-height: fit-content;
      width: 80%;
      margin: auto;
      margin-top: 50px;
    }

    .navbar-nav-scroll {
      max-height: fit-content !important;
      overflow-y: auto;
  }

  .navbar-nav {
      padding-bottom: 6px;
  }

  .navbar-toggler {
      outline: none !important;
      border: none !important;
  }

  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

  .navbar-toggler:focus {
      outline: none !important;
      border: none !important;
  }

  .navbar-toggler:active {
      outline: none !important;
      border: none !important;
  }

  .navbar-toggler-icon {
      outline: none !important;
      border: none !important;
      transform: scale(1);
      transition: 0.25s ease-in-out;
  }

  .navbar-toggler-icon:focus {
      outline: none !important;
      border: none !important;
  }

  .navbar-toggler-icon:active {
      outline: none !important;
      border: none !important;
  }

  .navbar-toggler-icon:hover {
      transition: 0.25s ease-in-out;
      transform: scale(1.08);
  }

  .container{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .container .card{
      position: relative;
      width: 320px;
      height: 450px;
      background: #232323;
      border-radius: 20px;
      overflow: hidden;
      border: none;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    @media screen AND (max-width: 767px){
      .container .card {
        width: 260px;
        height: 390px;
      }

      .grid-nouveauté {
        gap: 0px;
      }
    }
    
    .container .card:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      clip-path: circle(150px at 80% 20%);
      transition: 0.5s ease-in-out;
    }
    
    .container .card:hover:before{
      clip-path: circle(300px at 80% -20%);
    }
    
    .container .card:after{
      content: 'SHOP';
      position: absolute;
      top: 30%;
      left: -20%;
      font-size: 10em;
      font-weight: 800;
      font-style: italic;
      color: rgba(255,255,25,0.05)
    }
    
    .container .card .imgBx{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10000;
      width: 100%;
      height: 220px;
      transition: 0.5s;
    }
    
    .container .card:hover .imgBx{
      top: 0%;
      transform: translateY(0%);
        
    }
    
    .container .card .imgBx img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-25deg);
      width: 250px;
    }
    
    .container .card .contentBx{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
      text-align: center;
      transition: 1s;
      z-index: 10;
    }
    
    .container .card:hover .contentBx{
      height: 210px;
    }
    
    .container .card .contentBx h2{
      position: relative;
      font-weight: 600;
      font-family: 'Poppins';
      letter-spacing: 1px;
      color: #fff;
      margin: 0;
    }
    
    .container .card .contentBx .size, .container .card .contentBx .color {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 20px;
      transition: 0.5s;opacity: 0;
      visibility: hidden;
      padding-top: 0;
      padding-bottom: 0;
    }
    
    .container .card:hover .contentBx .size{
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
    }
    
    .container .card:hover .contentBx .color{
      opacity: 1;
      visibility: visible;
      transition-delay: 0.6s;
    }
    
    .container .card .contentBx .size h3, .container .card .contentBx .color h3{
      color: #fff;
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-right: 10px;
    }

    .container .card .contentBx .color h3 {
      color: #94c120;
    }
    
    .container .card .contentBx .size span{
      width: 26px;
      height: 26px;
      text-align: center;
      line-height: 26px;
      font-size: 14px;
      display: inline-block;
      color: #111;
      background: #fff;
      margin: 0 5px;
      transition: 0.5s;
      color: #111;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .container .card .contentBx .size span:hover{
      background: #94c120;
    }
    
    .container .card .contentBx .color span{
      width: 20px;
      height: 20px;
      background: #ff0;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
    }
    
    .container .card .contentBx .color span:nth-child(2){
      background: #94c120;
    }
    
    .container .card .contentBx .color span:nth-child(3){
      background: #03a9f4;
    }
    
    .container .card .contentBx .color span:nth-child(4){
      background: #e91e63;
    }
    
    .container .card .contentBx a{
      display: inline-block;
      padding: 10px 20px;
      background: #fff;
      border-radius: 4px;
      margin-top: 10px;
      text-decoration: none;
      font-weight: 600;
      color: #111;
      opacity: 0;
      transform: translateY(50px);
      transition: 0.5s;
      margin-top: 0;
    }
    
    .container .card:hover .contentBx a{
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.75s;
      
    }

    .grid-nouveauté {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 30px;
      padding-bottom: 80px;
      padding-top: 40px;
    }

    #nouveauté {
      
      background-size: cover;
      background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 1920 1080' class='overflow-hidden rounded-md drop-shadow-lg transition duration-300' style='overflow: hidden%3B height: 85vh%3B'%3E%3Crect width='1920' height='1080' fill='%23e0e2dd'%3E%3C/rect%3E%3Cg clip-path='url(%26quot%3B%23SvgjsClipPath3022%26quot%3B)'%3E%3Cg transform='matrix(0.7544678833390831 -0.8679160172561878 0.8679160172561878 0.7544678833390831 -243.88470455185052 927.1831630231817)'%3E%3Cpath d='M0 -1080C-4.541080385759817 -996.0112036269646 -39.78941655701205 -765.2456766801741 -27.246482314558904 -576.0672217617877C-14.703548072105752 -386.8887668434012 55.71000586094361 -128.77255077578886 75.25760545471891 55.0707295103189C94.80520504849422 238.91400979642665 96.06689770504687 371.9798972492581 90.03911524809288 526.992459954859C84.0113327911389 682.0050226604599 68.8610754430497 818.6375260169367 39.09091071299497 985.1461057439243C9.320745982940235 1151.654685470912 -82.06672134673636 1330.2349559407721 -88.58187313223551 1526.0439383167848C-95.09702491773467 1721.8529206927974 -14.763645522039253 2054.340656386131 0 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3015%26quot%3B)'%3E%3C/path%3E%3Cpath d='M274.2857142857143 -1080C275.21753919255406 -989.850237749812 279.65380583571005 -719.0111885813876 279.87666372675284 -539.1014264988721C280.09952161779563 -359.1916644163566 280.7852543680727 -183.40454088569373 275.622861631971 -0.5414275049067072C270.46046889586927 182.32168587588035 253.1205521781825 371.62540007272605 248.90230731014253 558.0772537858502C244.68406244210257 744.5291074989743 250.42080804707896 940.3530219753869 250.31339242373116 1118.169694773838C250.20597680038335 1295.986367572289 244.26242659305854 1451.3389063721966 248.25781357005573 1624.977290576557C252.25320054705293 1798.6156747809173 269.9477308331045 2070.8295484294263 274.2857142857143 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3016%26quot%3B)'%3E%3C/path%3E%3Cpath d='M548.5714285714286 -1080C560.3255482323073 -965.3667484929085 604.0546793191963 -623.1771041449407 619.0961465367005 -392.2004909574508C634.1376137542047 -161.22387776996092 652.4458782921182 83.7173078841534 638.8202318764535 305.8596791249394C625.1945854607887 528.0020503657254 546.3481736003529 745.6330461062186 537.3422680427122 940.6537364872653C528.3363624850716 1135.674426868312 582.9132717758239 1272.7594441590973 584.7847985306099 1475.9838214112197C586.656325285396 1679.208198663342 554.6069902312921 2045.9973035685366 548.5714285714286 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3017%26quot%3B)'%3E%3C/path%3E%3Cpath d='M822.8571428571428 -1080C832.0661048110662 -999.5401020371121 882.0881009933453 -750.5976865651375 878.1109145806838 -597.2406122226726C874.1337281680223 -443.88353788020765 817.4430753521815 -321.5877929844415 798.9940243811736 -159.8575539452107C780.5449734101658 1.8726850940200848 753.2453166366735 217.34145812421426 767.4166087546364 373.140822012712C781.5879008725993 528.9401859012098 887.8403132376592 640.0244660228852 884.0217770889514 774.9386293857758C880.2032409402435 909.8527927486664 748.6770700454955 1019.3145900192459 744.5053918623896 1182.6258021900558C740.3337136792837 1345.9370143608658 845.933082824524 1591.9102027756446 858.9917079903162 1754.8059024106353C872.0503331561083 1917.701602045626 828.8795703793384 2092.4676504017725 822.8571428571428 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3018%26quot%3B)'%3E%3C/path%3E%3Cpath d='M1097.142857142857 -1080C1090.3588002259478 -989.7020956052646 1056.441416053601 -708.2302377914846 1056.4385156414014 -538.2125736315877C1056.4356152292019 -368.19490947169083 1081.718834925963 -242.37630625726055 1097.1254546696603 -59.89401504061876C1112.5320744133576 122.58827617602302 1159.8593968152854 351.2460741067632 1148.8782341035853 556.681173668263C1137.8970713918852 762.1162732297628 1049.1496833615781 1002.9966782519862 1031.2384783994596 1172.71658232838C1013.3272734373412 1342.4364864047736 1030.426941206975 1410.453361848022 1041.4110043308747 1575.0005981266254C1052.3950674547743 1739.5478344052287 1087.8542150075268 2062.5000996877707 1097.142857142857 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3019%26quot%3B)'%3E%3C/path%3E%3Cpath d='M1371.4285714285716 -1080C1373.5361518265236 -997.5854853233659 1392.0189814085518 -743.3109062889115 1384.074053816284 -585.5129119401957C1376.1291262240163 -427.71491759148 1313.3000592359822 -283.2039163817298 1323.759005874965 -133.21203390770523C1334.2179525139477 16.779848566319345 1451.5998142578562 157.0320118007924 1446.8277336501803 314.43838290395166C1442.0556530425044 471.84475400711096 1318.6270297134436 655.7312840700312 1295.1265222289096 811.2261927112504C1271.6260147443757 966.7211013524696 1281.4134219063621 1110.963322078937 1305.8246887429764 1247.4078347512668C1330.2359555795906 1383.8523474235967 1430.6601428009951 1477.794574537107 1441.5941232485943 1629.8932687452293C1452.5281036961935 1781.9919629533515 1383.122830065242 2071.648878124205 1371.4285714285716 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3020%26quot%3B)'%3E%3C/path%3E%3Cpath d='M1645.7142857142856 -1080C1642.128719784725 -945.5020606380685 1623.4808136569266 -545.8626814712331 1624.2008901369231 -273.0123638284116C1624.9209666169197 -0.16204618559009987 1656.2858839733321 273.6590776345982 1650.0347445942652 557.101905856929C1643.7836052151983 840.5447340792598 1587.4141303425183 1160.4949231483947 1586.6940538625217 1427.6446055055733C1585.9739773825252 1694.7942878627518 1635.8775804056581 2037.9407675842622 1645.7142857142856 2160L 1920 2160 L 1920 -1080 Z' fill='url(%26quot%3B%23SvgjsLinearGradient3021%26quot%3B)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3015'%3E%3Cstop stop-color='%23e0e2dd' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23e1e2dd' offset='0'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3016'%3E%3Cstop stop-color='%23e4e6e2' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23e5e6e2' offset='0.14285714285714285'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3017'%3E%3Cstop stop-color='%23e8eae6' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23e9eae6' offset='0.2857142857142857'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3018'%3E%3Cstop stop-color='%23edeeeb' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23edeeeb' offset='0.42857142857142855'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3019'%3E%3Cstop stop-color='%23f1f2f0' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23f1f2f0' offset='0.5714285714285714'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3020'%3E%3Cstop stop-color='%23f5f6f4' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23f5f6f4' offset='0.7142857142857143'%3E%3C/stop%3E%3C/linearGradient%3E%3ClinearGradient x1='0.1' y1='0' x2='0' y2='1' id='SvgjsLinearGradient3021'%3E%3Cstop stop-color='%23f9faf9' offset='0'%3E%3C/stop%3E%3Cstop stop-color='%23f9faf9' offset='0.8571428571428571'%3E%3C/stop%3E%3C/linearGradient%3E%3CclipPath id='SvgjsClipPath3022'%3E%3Crect width='1920' height='1080'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"); 
    }

    .badge {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #111;
    }

    .titre-clickandcollect {
      margin: 50px;
      text-align: center;
      color: white;
      font-family: 'Poppins';
    }

    .titre-clickandcollect h1 {
      font-weight: 700;
    }

    .titre-clickandcollect h3 {
      font-weight: 600;
    }

    .width-max {
      margin:auto;
      width:100%;
      text-align:center;
    }

    .avatar {
      width: 40px;
      height: 40px;
      margin-top: 5px;
      margin-right: 6px;
      border-radius: 50%;
    }

    .dropdown-item:focus {
      background-color: #94c120 !important;
    }

    .dropdown-menu[data-bs-popper] { 
      top: 100%;
      right: 1.5px !important;
      left:auto !important;
      min-width: 220px !important;
    }

@media screen AND (max-width:1200px) {
    .dropdown-menu[data-bs-popper] {
      left: 0;
      width: 100%;
    }
}    

.logo-profile-table {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
  width: 100px;
  height: 100px;
}

.float-right-button {
  float: right;
  background-color: #94c120;
  border-radius: 20px;
  color: white;
  border: none;
  outline: none;
  padding: 8px;
  transition: 0.25s ease-in-out;
}

.content {
  padding: 30px;
}

.table-profil {
  min-width: 640px;

}

@media screen AND (max-width: 768px) {
    .table-profil {
      min-width: unset;
    }

    .table-profil td {
      display: inline-block;
    }
}

.float-right-button:hover {
  background-color: #739911;
  transition: 0.25s ease-in-out;
}

.active-drop {
  background-color: #94c120 !important;
  color: white !important;
}

.avatar-in-box {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

#avatar {
  margin-top: 15px;
}

.loggedin {
  padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(148%2c 193%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c427.308C89.117%2c443.384%2c185.132%2c454.733%2c265.809%2c413.607C349.319%2c371.036%2c424.838%2c294.044%2c442.142%2c201.92C458.97%2c112.331%2c378.405%2c36.796%2c353.032%2c-50.758C332.208%2c-122.612%2c343.465%2c-200.581%2c306.627%2c-265.694C264.606%2c-339.969%2c214.474%2c-429.388%2c130.434%2c-444.217C45.612%2c-459.184%2c-18.127%2c-366.82%2c-99.033%2c-337.274C-172.678%2c-310.38%2c-266.985%2c-334.876%2c-321.984%2c-279.001C-377.232%2c-222.872%2c-369.9%2c-132.671%2c-377.58%2c-54.288C-384.932%2c20.75%2c-395.889%2c97.92%2c-365.685%2c167.003C-335.248%2c236.618%2c-272.478%2c283.608%2c-210.58%2c327.669C-146.009%2c373.633%2c-78.001%2c413.237%2c0%2c427.308' fill='%23769a1a'%3e%3c/path%3e%3cpath d='M1440 1040.343C1553.53 1034.366 1662.777 1107.845 1772.155 1076.8429999999998 1898.503 1041.031 2041.626 978.871 2089.004 856.39 2136.503 733.597 2044.9279999999999 603.937 2003.4160000000002 478.993 1969.117 375.76 1931.316 277.671 1867.465 189.60000000000002 1798.476 94.44200000000001 1735.026-30.011999999999944 1619.339-50.77099999999996 1503.17-71.61599999999999 1415.427 57.511000000000024 1301.416 88.02699999999999 1183.077 119.702 1043.305 58.579999999999984 943.8050000000001 130.04399999999998 840.483 204.253 785.368 337.74 777.003 464.675 768.872 588.064 846.195 695.254 899.196 806.977 951.376 916.97 972.804 1064.804 1084.583 1113.039 1197.907 1161.94 1316.746 1046.8310000000001 1440 1040.343' fill='%23addd31'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

.content h2 {
  font-family: 'Poppins';
  color: white;
  font-weight: bold;
}

.content div p {
  font-family: 'Poppins';
  color: white;
}

input[type=email], input[type=text], input[type=password] {
  border: 1px solid #94c120;
  width: 80%;
  height: 40px;
  outline: none;
  padding: 7px;
}

.btn-primary {
  background-color: #94c120 !important;
  border: #94c120 !important;
}

.form-reservation {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  margin: auto;
  width: fit-content;
  margin-bottom: 100px;
}

.form-reservation input[type=submit] {
  background-color: #94c120;
  height: 40px;
  border:none;
  color: white;
  transition: 0.25s ease-in-out;
}

.form-reservation input[type=submit]:hover {
  background-color: #739911;
  transition: 0.25s ease-in-out;
}

.form-reservation input {
  margin: auto;
  width: fit-content;
} 

.Commander-btn {
  border: none;
  background-color:white;
  outline: none;
  border-radius: 20px;
  padding: 8px;
  margin: auto;
  color: #94c120;
  font-family: 'Poppins';
  display: flex;
  margin-top: 20px;
  width: fit-content;
  text-decoration: none;
}

#paypal-button-container {
  display: block;
  margin: auto;
  margin-top: 30px;
  width: 300px !important;
}

.width-max tbody tr:last-child td:last-child{
  border-radius: 0px 0px 25px 0px;
}

.width-max tbody tr:last-child td:first-child{
  border-radius: 0px 0px 0px 25px;
}